---
import Layout from "../components/Layout.astro";
import Icon from "../components/Icon.astro";
import { Picture } from "@astrojs/image/components";
import headshot from "../images/headshot.jpg";
import { getCollection } from "astro:content";
const allProjects = await getCollection("projects");
if (allProjects) {
	allProjects.sort(function (a, b) {
		return new Date(b.data.updatedAt) - new Date(a.data.updatedAt);
	});
}
const allTech = await getCollection("tech");
if (allTech) {
	allTech.forEach((tech) => {
		let relatedProjectCount = 0;
		for (let i = 0; i < allProjects.length; i++) {
			if (allProjects[i]?.data.tech.includes(tech.slug)) {
				relatedProjectCount += 1;
			}
		}
		return (tech.relatedProjectCount = relatedProjectCount);
	});
}
---

<Layout
	tags={{
		title: "Chris LaRocque | Web Developer",
		description:
			"Chris LaRocque is a web developer from Boston, MA. He specializes in tactical agile development aimed at delivering user-centric software at scale and at speed.",
	}}
>
	<main>
		<section class="justify-center gap-7 lg:flex">
			<div class="text-wrapper flex items-center justify-center">
				<div class="text py-7">
					<h1 class="">Hey, I'm Chris</h1>
					<p class="max-w-[50ch]">
						I'm a full-stack web developer building responsive,
						user-first websites. Check out the things I've built or
						the tech I've used to build them below.
					</p>
				</div>
			</div>
			<Picture
				src={headshot}
				widths={[200, 400, 600]}
				sizes="(max-width: 600px) 100vw, 600px"
				alt="Chris LaRocque headshot"
				aspectRatio="1:1"
				class="rounded-full mx-auto"
				loading={"eager"}
				width={600}
				height={600}
			/>
		</section>
		<section class="gap-7 lg:flex">
			<div class="lg:flex-1">
				<h2
					class="border-b-2 border-white py-5 text-3xl font-bold tracking-tight"
				>
					Projects
				</h2>
				{
					allProjects.map((project) => {
						return (
							<a
								href={`/projects/${project.slug}`}
								class="block border-b-2 border-zinc-600 p-9 hover:bg-zinc-600"
							>
								<h3 class="mb-2 mt-0 text-2xl font-bold tracking-tight">
									{project.data.title}
								</h3>
								<p>{project.data.description}</p>
							</a>
						);
					})
				}
			</div>
			<div class="lg:flex-1">
				<h2
					class="border-b-2 border-white py-5 text-3xl font-bold tracking-tight"
				>
					Tech
				</h2>
				{
					allTech.map((tech) => {
						return (
							<a
								href={`/tech/${tech.slug}`}
								class="relative block border-b-2 border-zinc-600 p-9 hover:bg-zinc-600"
							>
								<h3 class="mb-2 mt-0 flex justify-between text-2xl font-bold tracking-tight">
									{tech.data.title}
									<Icon icon={tech.slug} />
								</h3>
								<p class="max-w-[49ch]">
									{tech.data.description}
								</p>
								{tech.relatedProjectCount && (
									<div class="count  absolute bottom-0 right-0 p-3">
										{`${tech.relatedProjectCount} project${
											tech.relatedProjectCount === 1
												? ""
												: "s"
										}`}
									</div>
								)}
							</a>
						);
					})
				}
			</div>
		</section>
	</main>
</Layout>
