---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";
import Icon from "../../components/Icon.astro";
export async function getStaticPaths() {
	const allProjects = await getCollection("projects");
	return allProjects.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}
const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { title, description, tech } = entry.data;
const relatedTech = await getCollection("tech", ({ slug }) => {
	return tech.includes(slug);
});
---

<Layout tags={{ title, description }}>
	<main>
		<section class="lg:flex lg:justify-between">
			<div class="content lg:max-w-[70%]">
				<h1 class="text-4xl font-extrabold">{title}</h1>
				<p>{description}</p>
				<Content />
			</div>
			{
				relatedTech && (
					<div class="table-of-contents mt-9 lg:mt-0 lg:min-w-[20%]">
						<h3 class="mb-4 border-b-2 border-zinc-600 pb-2 font-bold tracking-tight">
							Related tech
						</h3>
						<ul id="related-tech">
							{relatedTech.map((tech) => {
								return (
									<li class="mb-2">
										<a
											href={`/tech/${tech.slug}`}
											class="flex items-center font-medium text-blue-600 hover:underline dark:text-blue-500"
										>
											<div class="flex basis-7 items-center justify-center">
												<Icon icon={tech.slug} />
											</div>
											<div class="ml-2 basis-36">
												{tech.data.title}
											</div>
										</a>
									</li>
								);
							})}
						</ul>
					</div>
				)
			}
		</section>
	</main>
</Layout>
