---
import { getCollection } from "astro:content";
import ogImageURL from "../../../utils/ogImageURL";
import sortByUpdatedAt from "../../../utils/sortByUpdatedAt";
import Layout from "../../components/Layout.astro";
export async function getStaticPaths() {
	const allTech = await getCollection("tech");
	return allTech.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { title, description, homepage } = entry.data;
// console.log(headings);
const relatedProjects = await getCollection("projects", ({ data }) => {
	return data.tech.includes(entry.slug);
});
if (relatedProjects) {
	sortByUpdatedAt(relatedProjects);
}
const imageURL = ogImageURL({ title, subtitle: description });
---

<Layout tags={{ title, description, imageURL }}>
	<main>
		<section class="lg:flex lg:justify-between">
			<div class="content lg:max-w-[70%]">
				<h1 class="mb-2 text-4xl font-extrabold">{title}</h1>
				<small class="mb-5 block max-w-[76ch] text-zinc-300"
					>From <a href={homepage}>{homepage}</a>: <span
						>{description}</span
					></small
				>
				<Content />
			</div>
			<div class="related-projects">
				<h3
					class="mb-2 border-b-2 border-zinc-600 pb-2 font-bold tracking-tight"
				>
					{`Projects using ${title}`}
				</h3>
				<ul>
					{
						relatedProjects.map((project) => {
							return (
								<li>
									<a
										href={`/projects/${project.slug}`}
										class="hover:underline; font-medium text-blue-300"
									>
										{project.data.title}
									</a>
								</li>
							);
						})
					}
				</ul>
			</div>
		</section>
	</main>
</Layout>
