---
import { getCollection } from "astro:content";
import Layout from "../../components/Layout.astro";
export async function getStaticPaths() {
	const allTech = await getCollection("tech");
	return allTech.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content, headings } = await entry.render();
const { title, description, homepage } = entry.data;
// console.log(headings);
const relatedProjects = await getCollection("projects", ({ data }) => {
	return data.tech.includes(entry.slug);
});
---

<Layout tags={{ title, description }}>
	<main>
		<section class="lg:flex lg:justify-between">
			<div class="content lg:max-w-[70%]">
				<h1 class="font-extrabold text-4xl mb-2">{title}</h1>
				<small class="mb-5 block text-zinc-300 max-w-[76ch]"
					>From <a href={homepage}>{homepage}</a>: <span
						>{description}</span
					></small
				>
				<Content />
			</div>
			<div class="related-projects">
				<h3 class="font-bold border-b-2 border-zinc-600 pb-2 mb-2">
					{`Projects using ${title}`}
				</h3>
				<ul>
					{
						relatedProjects.map((project) => {
							return (
								<li>
									<a
										href={`${Astro.url.origin}/projects/${project.slug}`}
										class="font-medium text-blue-600 dark:text-blue-500 hover:underline;"
									>
										{project.data.title}
									</a>
								</li>
							);
						})
					}
				</ul>
			</div>
		</section>
	</main>
</Layout>
